.decoration{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.decoration img{
    height: 600px;
    object-fit: cover;
    animation: imgAnim 2s infinite ease-in-out alternate;
    filter: blur(2px);
}
.decoration img:nth-child(1){animation-delay: 0.3s;}
.decoration img:nth-child(2){animation-delay: 0.6s;}
.decoration img:nth-child(3){animation-delay: 0.9s;}
.decoration img:nth-child(4){animation-delay: 1.2s;}

@keyframes imgAnim {
    0%{filter: blur(2px);}
    100%{filter: blur(0px);}
}