.merch {
    background-color: var(--color_brown);
    padding: 140px var(--side_padding);
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.merch p,
.merch h2 {
    color: var(--color_white);
}

.merch__description {
    width: 70%;
}

.merch__flex {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-top: 30px;
}

.merch__item {
    text-align: center;
}

.merch__item-img {
    overflow: hidden;
    margin-bottom: 10px;
    aspect-ratio: 9/12;
}

.merch__item img {
    object-fit: cover;
    transition-duration: 0.3s;
}

.merch__item img:hover {
    transform: scale(1.1);
}

.merch__item-price {
    font-weight: bold;
    margin-top: 10px;
}