.products{
    background-color: var(--color_brown);
    padding: 90px var(--side_padding);
}
.products h2{
    color: var(--color_white);
    margin: 20px 0;
}
.products p{
    color: var(--color_white);
}
.products_grid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 15px;
    row-gap: 25px;
}
.products img{
    height: 500px;
}
